body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
  position: relative;
}

.top-bar {
  background: $mainBgColor;
  .content {
    @include flex(space-between, center, 1.25rem);
    padding: 0.5625rem 0;
    max-width: 77.5rem;
    width: 100%;
    margin: 0 auto;
    .location {
      @include flex(start, center, 0.5rem);
      img {
        width: 0.75rem;
        height: 1rem;
      }
      span {
        @include font-styles(
          $secondaryColor,
          0.8313rem,
          1.375rem,
          400,
          0,
          start
        );
      }
    }
    .contact {
      @include flex(sart, center, 1.875rem);
      .phone {
        @include flex(start, center, 0.5rem);
        img {
          width: 1rem;
          height: 1rem;
        }
        span {
          @include font-styles(
            $secondaryColor,
            0.8313rem,
            1.375rem,
            400,
            0,
            start
          );
        }
      }
      .email {
        @include flex(start, center, 0.5rem);
        img {
          width: 1rem;
          height: 0.75rem;
        }
        span {
          @include font-styles(
            $secondaryColor,
            0.8313rem,
            1.375rem,
            400,
            0,
            start
          );
        }
      }
    }
  }
}
.listing {
  position: relative;
  height: 58.25rem;
  .header {
    background-color: $secondaryColor;
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    padding: 0.7188rem 0;
    .content {
      @include flex(space-between, center, 0.625rem);
      max-width: 77.5rem;
      width: 100%;
      margin: 0 auto;

      .menu-listing {
        @include flex(start, center, 1rem);
        padding-left: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            @include font-styles($mainTextColor, 1rem, 1.5rem, 500, 0, start);
            padding: 0.4375rem 1rem;
            &:hover {
              background-color: $menuHover;
              border-radius: 1.875rem;
            }
          }
        }
      }
      .logo {
        img {
          width: 7.75rem;
          height: 3.125rem;
        }
      }
      .button-listing {
        @include flex(start, center, 1.25rem);
        .login-button {
          @include flex(start, center, 0.625rem);
          padding: 0 0.4375rem;
          img {
            width: 1.125rem;
            height: 1.125rem;
          }
          input {
            background: transparent !important;
            border: none !important;
            @include font-styles($mainTextColor, 16px, 1.5rem, 500, 0, start);
            padding: 0;
          }
        }
        .listing-button {
          @include flex(start, center, 0.625rem);
          background-color: $mainBgColor;
          border-radius: 1.875rem;
          padding: 0.8125rem 1.9375rem;
          img {
            width: 1.125rem;
            height: 1.125rem;
          }
          input {
            background: transparent !important;
            border: none !important;
            @include font-styles($secondaryColor, 16px, 1.5rem, 500, 0, start);
            padding: 0;
          }
        }
      }
    }
  }
  .main-banner {
    > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
    }
    .main-content {
      @include flex(start, end, 7.5rem);
      margin: 5.5625rem auto 0;
      max-width: 1120px;
      .home-finding {
        max-width: 580px;
        width: 100%;
        span {
          @include font-styles(
            $lightBlue,
            1.2125rem,
            1.8188rem,
            500,
            0.15em,
            left
          );
        }
        h1 {
          margin-block-start: 1.25rem;
          margin-block-end: 1.25rem;
        }
        p {
          margin-block-start: 0;
          margin-block-end: 1.25rem;
        }
        .slideshow-container {
          max-width: 36.25rem;
          width: 100%;
          position: relative;

          > img {
            position: absolute;
            top: -1.9375rem;
            right: 0.625rem;
            z-index: -1;
          }
        }
        .mySlides {
          width: 540px;
          height: 340px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 1.25rem;
          }
        }

        .prev,
        .next {
          cursor: pointer;
          position: absolute;
          top: 0;
          top: calc(50% - 10px);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2.5rem;
          width: 2.5rem;
          transition: 0.6s ease;
        }

        .next {
          right: 13px;
          width: 2.5rem;
          height: 2.5rem;
          img {
            max-width: none !important;
          }
        }
        .prev {
          left: -18px;
          width: 2.5rem;
          height: 2.5rem;
          img {
            max-width: none !important;
          }
        }

        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }
        .slide-bar {
          display: flex;
          gap: 2.5rem;
          margin: -0.75rem 0 0 0.625rem;
          .dot {
            cursor: pointer;
            height: 4px;
            width: 100px;
            background-color: $secondaryColor;
            border-radius: 20px;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
        }
        .active,
        .dot:hover {
          background-color: $lightBlue;
        }
      }
      .search-form {
        max-width: 26.25rem;
        box-shadow: 10px 30px 50px 0px $formShadow;
        width: 100%;
        border-radius: 1.25rem;
        background: $secondaryColor;
        [data-tab-content] {
          display: none;
        }

        .active[data-tab-content] {
          display: block;
        }

        body {
          padding: 0;
          margin: 0;
        }

        .tabs {
          display: flex;
          justify-content: space-around;
          list-style-type: none;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid $lightGrey;
          @include font-styles($lightGrey, 1rem, 1.5rem, 500, 0, center);
        }

        .tab {
          cursor: pointer;
          margin-top: 2rem;
          padding-bottom: 1.2813rem;
        }

        .tab.active {
          border-bottom: 2px solid $lightBlue;
          color: $lightBlue;
        }

        .tab-content {
          padding: 2.9688rem 2.5rem 3.5rem;

          input[type="text"] {
            width: 18.75rem;
            background-color: $inputColor;
            border-radius: 20px;
            padding: 1.0938rem 1.25rem;
            border: none;
            max-width: 21.25rem;
            font-family: "poppins", "sans-serif";

            &:focus {
              outline: none;
            }
          }
          .property-type {
            margin-top: 1.875rem;
            position: relative;
            display: block;

            font-family: "poppins", "sans-serif";
            &::after {
              content: "";
              background-image: url(../assets/svgs/arrow-down.svg); /* Unicode character for down arrow */
              position: absolute;
              height: 20px;
              background-position: center;
              background-repeat: no-repeat;
              width: 20px;
              top: 50%;
              right: 15px;
              transform: translateY(-50%);
              pointer-events: none;
              color: $lightGrey;
              font-size: 16px;
              line-height: 1.25rem;
            }
            .property {
              width: 100%;
              background-color: $inputColor;
              border-radius: 20px;
              padding: 1.0938rem 1.25rem;
              appearance: none;

              font-family: "poppins", "sans-serif";
              color: $lightGrey;
              border: none;
              max-width: 21.25rem;
              &:focus {
                outline: none;
              }
            }
          }
          .room-type {
            margin-top: 1.875rem;
            border: none;
            max-width: 21.25rem;
            position: relative;
            display: block;
            font-family: "poppins", "sans-serif";
            &::after {
              content: "";
              background-image: url(../assets/svgs/arrow-down.svg); /* Unicode character for down arrow */
              position: absolute;
              height: 20px;
              background-position: center;
              background-repeat: no-repeat;
              width: 20px;
              top: 50%;
              right: 15px;
              transform: translateY(-50%);
              pointer-events: none;
              color: $lightGrey;
              font-size: 16px;
              line-height: 1.25rem;
            }
            .room {
              width: 100%;
              background-color: $inputColor;
              border-radius: 20px;
              padding: 1.0938rem 1.25rem;
              font-family: "poppins", "sans-serif";
              appearance: none;
              color: $lightGrey;
              border: none;
              max-width: 21.25rem;
              &:focus {
                outline: none;
              }
            }
          }
          .filter-button {
            margin-top: 1.25rem;
            @include flex(start, center, 0.625rem);
            button {
              background: transparent;
              font-family: "poppins", "sans-serif";
              border: none;
              @include font-styles(
                $mainBgColor,
                0.8313rem,
                1.375rem,
                400,
                0,
                left
              );
            }
          }
          .search-button {
            margin-top: 3.75rem;
            @include flex(center, center, 0.625rem);
            background-color: $mainBgColor;
            width: 21.25rem;
            height: 3.75rem;
            border-radius: 3.125rem;
            input {
              background-color: transparent;
              font-family: "poppins", "sans-serif";
              border: none;
              @include font-styles(
                $secondaryColor,
                0.8313rem,
                1.375rem,
                400,
                0,
                center
              );
            }
          }
        }
      }
    }
    .tags {
      @include flex(center, center, 1.875rem);
      max-width: 90rem;
      width: 46.875rem;
      margin: 4.375rem auto;

      .customer {
        background: $secondaryColor;
        box-shadow: 10px 30px 50px 0px $formShadow;
        @include flex(start, center, 0.625rem);
        width: 22.5rem;
        height: 100px;
        position: relative;
        border-radius: 3.125rem;
        padding: 0 2.25rem;

        .image-wrapper {
          @include flex(start, start, 0);
          width: 9.75rem;
          img {
            &:nth-child(2) {
              position: absolute;
              left: 59px;
            }
            &:nth-child(3) {
              position: absolute;
              left: 82px;
            }
            &:nth-child(4) {
              position: absolute;
              left: 105px;
            }
            &:nth-child(5) {
              position: absolute;
              left: 130px;
            }
            &:nth-child(6) {
              position: absolute;
              left: 155px;
            }
          }
        }
        h4 {
          width: 122px;
        }
      }
      .listing {
        background: $secondaryColor;
        box-shadow: 10px 30px 50px 0px $formShadow;
        @include flex(start, center, 0.625rem);
        width: 22.5rem;
        height: 100px;
        border-radius: 3.125rem;
        padding: 0 2.375rem;
        h4 {
          width: 10.875rem;
        }
      }
    }
  }
}
.companies {
  max-width: 72.5rem;
  width: 100%;
  margin: 4.25rem auto 0;
  padding: 3.125rem 0 2.5rem;
  position: relative;
  > img {
    position: absolute;
    top: -0.625rem;
    left: 2.75rem;
  }
  h5 {
    text-align: center;
    color: $lightGrey;
  }
  .image-wrapper {
    @include flex(space-between, center, 0.625rem);
    margin-top: 60px;

    img {
      filter: grayscale(100%);
      width: 7.5rem;
      height: auto;
    }
  }
}
.property-locator {
  max-width: 70rem;
  width: 100%;
  margin: 11.75rem auto 0;
  @include flex(start, start, 2.6875rem);
  .content {
    max-width: 31.25rem;
    width: 100%;
    span {
      @include font-styles($lightBlue, 1.2125rem, 1.8188rem, 500, 0.15em, left);
    }
    h2 {
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 30px 0 40px;
    }
    .card-listing {
      margin-top: 2.5rem;
      @include flex(start, start, 1.875rem, column);
      .card {
        @include flex(center, center, 0.9375rem);
        box-shadow: 4px 10px 30px 0px $formShadow;
        border-radius: 1.875rem;
        width: 25rem;
        height: 8.1875rem;

        img {
          height: 2.5rem;
          width: 2.5rem;
        }
        .content {
          width: 17.125rem;
          @include flex(start, start, 0.625rem, column);
          h4 {
            margin-block-start: 0;
            margin-block-end: 0;
            color: $lightBlue;
          }
          p {
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }
      }
    }
  }
  .image-wrapper {
    position: relative;
    @include flex(start, start, 20px);
    .real-estate {
      position: absolute;
      top: 0;
      left: 11rem;
      z-index: 1;
    }
    .single-img {
      img {
        width: 280px;
        height: 500px;
        border-radius: 1.875rem;
        box-shadow: 4px 10px 30px 0px $imageShadow;
        object-fit: cover;
        margin-top: 8.4375rem;
      }
    }
    .img-column {
      @include flex(start, start, 20px, column);
      position: relative;
      margin-top: 5.5rem;
      .mini-circle {
        position: absolute;
        bottom: -2.5rem;
        left: 3.875rem;
      }
      img {
        &:nth-child(2) {
          border-radius: 1.875rem;
          box-shadow: 4px 10px 30px 0px $imageShadow;
          width: 17.3125rem;
          height: 17.5rem;
        }

        &:nth-child(3) {
          border-radius: 1.875rem;
          box-shadow: 4px 10px 30px 0px $imageShadow;
          width: 17.3125rem;
          height: 11.25rem;
        }
      }
    }
  }
}
.latest-properties {
  margin: 200px 0;
  .content {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    @include flex(space-between, center, 20px);
    .content-listing {
      width: 29.125rem;
      span {
        @include font-styles(
          $lightBlue,
          1.2125rem,
          1.8188rem,
          500,
          0.15em,
          left
        );
      }
      p {
        line-height: 1.625rem;
      }
    }
    .button-listing {
      @include flex(end, end, 20px);
      button {
        background-color: transparent;
        border: 1px solid $mainBgColor;
        padding: 11.5px 1.875rem;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        border-radius: 1.875rem;
        color: $mainBgColor;

        &:hover {
          background: $mainBgColor;
          color: $secondaryColor;
        }
      }
    }
  }
  .card-listing {
    margin: 3.125rem 0 0 10rem;
    swiper-container {
      width: 100%;
      height: 100%;

      swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21.25rem !important;

        &:nth-child(2) {
          .card {
            .image-wrapper {
              .label {
                width: 10.5625rem;
                background: $listingLabel;
                img {
                  width: 1.25rem;
                  height: 1.3375rem;
                }
                h5 {
                  color: $listingText;
                }
              }
            }
          }
        }
        &:nth-child(3) {
          .card {
            .image-wrapper {
              .label {
                width: 12.8125rem;
                background: $discountLabel;
                img {
                  width: 0.75rem;
                  height: 1.25rem;
                }
                h5 {
                  color: $discountText;
                }
              }
            }
          }
        }
        &:nth-child(6) {
          .card {
            .image-wrapper {
              .label {
                width: 12.8125rem;
                background: $discountLabel;
                img {
                  width: 0.75rem;
                  height: 1.25rem;
                }
                h5 {
                  color: $discountText;
                }
              }
            }
          }
        }
        &:nth-child(5) {
          .card {
            .image-wrapper {
              .label {
                width: 10.5625rem;
                background: $listingLabel;
                img {
                  width: 1.25rem;
                  height: 1.3375rem;
                }
                h5 {
                  color: $listingText;
                }
              }
            }
          }
        }
        &:nth-child(8) {
          .card {
            .image-wrapper {
              .label {
                width: 10.5625rem;
                background: $listingLabel;
                img {
                  width: 1.25rem;
                  height: 1.3375rem;
                }
                h5 {
                  color: $listingText;
                }
              }
            }
          }
        }
        &:nth-child(9) {
          .card {
            .image-wrapper {
              .label {
                width: 12.8125rem;
                background: $discountLabel;
                img {
                  width: 0.75rem;
                  height: 1.25rem;
                }
                h5 {
                  color: $discountText;
                }
              }
            }
          }
        }
        .card {
          .image-wrapper {
            position: relative;
            img {
              width: 21.25rem;
              height: 21.25rem;
            }
            .label {
              width: 8.8125rem;
              height: 2.6563rem;
              border-radius: 1.25rem;
              @include flex(center, center, 0.625rem);
              background-color: $popularLabel;
              position: absolute;
              bottom: 1.875rem;
              left: 1.875rem;
              img {
                width: 1.25rem;
                height: 1.375rem;
              }
              h5 {
                color: $popularText;
              }
            }
          }
          .card-content {
            margin-top: 1rem;
            @include flex(start, start, 0.5125rem, column);
            span {
              @include font-styles(
                $mainTextColor,
                1.725rem,
                2.5875rem,
                600,
                0,
                left
              );
              display: block;
            }
            h4 {
              margin-block-start: 0;
              margin-block-end: 0;
            }
            p {
              margin-block-start: 0;
              margin-block-end: 0;
            }
            .listing {
              @include flex(start, start, 1.25rem);
              height: fit-content;
              p {
                &:nth-child(1) {
                  @include flex(start, center, 0.625rem);
                  img {
                    height: 1.3125rem;
                    width: 1.875rem;
                  }
                }
                &:nth-child(2) {
                  @include flex(start, center, 0.625rem);
                  img {
                    height: 1.5rem;
                    width: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }

      swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.services {
  background: $primaryBgColor;
  padding: 6.25rem 0 8.5625rem;
  .services-content {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    > h4 {
      text-align: center;
    }
    h2 {
      text-align: center;
      margin-top: 2.5rem;
    }
    .card-listing {
      margin-top: 4.375rem;
      @include flex(start, center, 3.125rem);
      .card {
        background-color: $secondaryColor;
        @include flex(center, center, 20px, column);
        border-radius: 1.875rem;
        padding: 3.375rem 3.75rem;
        box-shadow: 4px 10px 30px 0px $secondaryShadow;

        .image-wrapper {
          height: 5.625rem;
          background: $lightBlue;
          width: 5.625rem;
          border-radius: 50%;
          @include flex(center, center, 0);
          box-shadow: 4px 10px 30px 0px $primaryShadow;

          img {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
        h4 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
.neighborhood-properties {
  margin: 13.125rem auto;
  max-width: 70rem;
  width: 100%;
  position: relative;
  .small-circle {
    position: absolute;
    top: -8.8125rem;
    left: 31.2rem;
  }

  > h4 {
    color: $lightBlue;
  }
  h2 {
    margin-top: 0.625rem;
  }
  .image-listing {
    margin-top: 5rem;
    position: relative;
    @include flex(start, start, 3.125rem, column);
    .image-row {
      @include flex(start, start, 3.125rem);
      .image-wrapper {
        position: relative;
        width: 18.75rem;
        height: 20rem;
        &:nth-child(3) {
          width: 26.25rem;
          height: 20rem;
          .overlay {
            width: 420px;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1.875rem;
        }
      }
      .img-content {
        position: absolute;
        bottom: 1.875rem;
        left: 2.5rem;
        z-index: 1;
        h1 {
          opacity: 60%;
          color: $secondaryColor;
        }
        h4 {
          color: $secondaryColor;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 20rem;
        width: 18.75rem;
        background: $primaryGradient;
        border-radius: 1.875rem;
      }
    }
    .image-row-2 {
      @include flex(start, start, 3.125rem);
      .image-wrapper {
        position: relative;
        width: 25.75rem;
        height: 20rem;
        &:nth-child(2) {
          width: 41.125rem;
          height: 20rem;
          .overlay {
            width: 41.125rem;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1.875rem;
        }
      }
      .img-content {
        position: absolute;
        bottom: 1.875rem;
        left: 2.5rem;
        z-index: 1;
        h1 {
          opacity: 60%;
          color: $secondaryColor;
        }
        h4 {
          color: $secondaryColor;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 20rem;
        width: 25.75rem;
        background: $primaryGradient;
        border-radius: 1.875rem;
      }
    }
    .large-circle {
      position: absolute;
      bottom: -10rem;
      right: 4.0625rem;
    }
  }
}
.experts {
  max-width: 63.3125rem;
  margin: 0 auto 11.25rem;
  width: 100%;

  h4 {
    color: $lightBlue;
    text-align: center;
  }
  h2 {
    margin-top: 0.9375rem;
    text-align: center;
  }
  .card-listing {
    @include flex(center, center, 3.9375rem);
    margin-top: 6.25rem;
    .card {
      @include flex(center, center, 0.625rem, column);
      img {
        border-radius: 120px 40px 40px 40px;
        width: 12.5rem;
        height: 17.5rem;
        object-fit: cover;
      }
      h3 {
        margin-top: 2.62px;
        text-align: center;
      }
      h5 {
        text-align: center;
        color: $lightBlue;
        margin-top: 0.125rem;
      }
    }
  }
}
.blogs {
  background: $mainBgColor;
  .blog-content {
    max-width: 70rem;
    margin: 0 auto;
    padding: 6.875rem 0 6.25rem;
    width: 100%;
    h4 {
      text-align: center;
      color: $secondaryColor;
    }
    h2 {
      margin-top: 0.9375rem;
      text-align: center;
      color: $secondaryColor;
    }
    .card-listing {
      margin-top: 5rem;
      @include flex(start, start, 3.125rem);
      .card {
        .image-wrapper {
          position: relative;
          img {
            width: 21.25rem;
            height: 15rem;
            object-fit: cover;
            border-radius: 1.875rem;
          }
          .overlay {
            width: 21.25rem;
            height: 15rem;
            position: absolute;
            background-color: $primaryOverlay;
            top: 0;
            left: 0;
            border-radius: 1.875rem;
          }
          .label {
            position: absolute;
            top: 0;
            left: 3.125rem;
            width: 3.0625rem;
            height: 3.125rem;
            border-radius: 0px 0px 10px 10px;
            background: $secondaryColor;
            box-shadow: 4px 4px 15px 0px $labelShadow;
            p {
              margin-top: 0;
              color: $lightGrey;
              text-align: center;
              span {
                color: $primaryColor;
              }
            }
          }
        }
        h3 {
          margin-top: 1.25rem;
          color: $secondaryColor;
        }
        p {
          margin-top: 0.625rem;
          color: $primaryBgColor !important;
        }
        a {
          @include flex(end, end, 0);
          margin-top: 0.625rem;
          img {
            height: 3.125rem;
            width: 3.125rem;
          }
        }
      }
    }
    .pagination {
      @include flex(center, center, 2.4375rem);
      margin-top: 4.375rem;
      span {
        height: 0.25rem;
        border-radius: 10px;
        width: 6.25rem;
        background-color: $secondaryColor;
        opacity: 50%;
        display: block;
        &:hover {
          background: $secondaryColor;
          opacity: 100%;
        }
      }
    }
  }
}
