$mainBgColor: #3a0ca3;
$primaryColor: #000;
$secondaryColor: #fff;
$menuHover: #4361ee4d;
$mainTextColor: #2b2b2b;
$mainHeading: #0b090a;
$lightBlue: #4361ee;
$lightGrey: #808080;
$inputColor: #d4d4d433;
$formShadow: #0000000d;
$imageShadow: #00000026;
$popularLabel: #ffe1e1;
$listingLabel: #d7eeff;
$discountLabel: #f1fff1;
$popularText: #ff1111;
$listingText: #119bff;
$discountText: #00ce3a;
$primaryBgColor: #d4d4d4;
$primaryShadow: #4361ee66;
$secondaryShadow: #00000008;
$primaryGradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.6) 100%
);
